<p>course works!</p>
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title ">{{ title }}</h2>
            <p class="card-text"><strong>ID:</strong> {{ id }}</p>
            <p class="card-text"><strong>Instructor:</strong> {{ instructor }}</p>
            <p class="card-text"><strong>Duration:</strong> {{ duration }} hours</p>
            <p class="card-text"><strong>Level:</strong> {{ level }}</p>
            <p class="card-text"><strong>Description:</strong> {{ description }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ price }}</p>
            <!-- <button class="btn btn-primary" (click)="enrollCourse()">Enroll Now</button> -->
        </div>
    </div>
</div>