<p>parent works!</p>

<div class="container bg-info m-3 p-3">
    <h3>Parent Component</h3>
    <div class="container bg-warning m-2 p-2">
        <app-child [data]="studentdetails" (eventemitter)="recieveMessage($event)"></app-child>
        <app-child [data]="'Dhruv'"></app-child>
        <hr>
        <app-course [id]="1" [title]="'Angular Basics'" [instructor]="'John Doe'" [duration]="10" [level]="'Beginner'" [description]="'Learn the basics of Angular development.'"></app-course>
        <app-course [id]="2" [title]="'React Fundamentals'" [instructor]="'Jane Smith'" [duration]="15" [level]="'Intermediate'" [description]="'Master the fundamentals of React development.'" ></app-course>
        <app-course [id]="3" [title]="'Vue.js Essentials'" [instructor]="'Bob Johnson'" [duration]="12" [level]="'Beginner'" [description]="'Get started with Vue.js development.'" ></app-course>
    </div>
</div>

